#courses
    h2 Courses
    -if (courses)
        ul.course-list
            - for (i=0;i<courses.length;i++)
                li
                    a(href="/courses/" + courses[i]._id)= courses[i].name
    -else
        p You have no courses
    p
        a(href="/courses/new") Add new course
    pre.what courses.jade