extends layout

block main_content
    #login
        form(method="post",action="/login")
            p
                label(for="email") Email
                input(name="email",type="text")
            p
                label(for="password") Password
                input(name="password", type="password")
            p
                button(type="submit") Login
            pre.what login.jade